.header {     
    display: flex;
    flex-direction: column; /* Empilha os itens */
    align-items: center;    /* Centraliza os itens horizontalmente */
    text-align: center;     /* Garante que o texto dentro deles também mude para o centro */
}

.header__logo {
    width: 100%;          /* O logo se adapta ao tamanho do container... */
    max-width: 254px;     /* ...mas nunca passa do tamanho máximo dele no Figma! */
    height: auto;         /* Garante que a altura mude junto para não distorcer a imagem */
    margin-top: 34px;
    margin-bottom: 90px;
    margin-inline: auto;
    
}