.lead {
  width: 100%;
  display: flex;
  justify-content: center;
}

.lead__image {
  width: 100%;
  max-width: 1280px;
  height: auto;
  object-fit: cover;
  display: block;
}

@media (max-width: 1024px) {
  .lead {
    width: 100%;
  }
}

@media (max-width: 544px) {
  .lead {
    width: 100%;
  }
}
